.super-mario {
        width: 200px;
        position: absolute;
        z-index: 2;
  }
  
  .goomba {
        width: 100px;
        position: absolute;
        z-index: 1;
        top: 370px;
  }
  
  .baloon {
        position: absolute;
        z-index: 4;
        left: 250px;
  }
  
  .speach {
        font-size: 25px;
        position: absolute;
        z-index: 5;
        left: 270px;
        top: 120px;
  }
  
  .bowser {
        position: absolute;
        width: 400px;
        height: 400px;
        z-index: 3;
        left: 500px;
  }